.home{
    /* background-color: rgb(48, 47, 47); */
    background-image: radial-gradient(rgba(255, 255, 255, 0.338) , rgba(0, 187, 255, 0.251), rgba(174, 0, 255, 0.338));
    background-size: 200% 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 10rem;
}