.Header{
    display: flex;
    justify-content: space-between;
    margin: 0rem 5rem;
    padding: 1.5rem 0rem;
}

.Mobile-Header{
    display:none;
}



.Header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.701);
    font-size: 1.5rem;
    cursor: pointer;
}

.logo{
    font-weight: bolder;
}

.log{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

span{
    font-weight: 800;
}

.head-btn{
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 64, 255, 0.232);
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0rem 0rem 0.3rem 0rem rgba(128, 128, 128, 0.712);
}

.head-btn:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.02);
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(128, 128, 128, 0.712);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 768px){
    .Header{
        display: none;
    }    
    .Mobile-Header{
        display: flex;
        justify-content: space-between;
        margin: 0rem 5rem;
        padding: 1.5rem 0rem;
    }
    .logo{
        font-size: 3vmax;
        font-weight: bolder;
    }
    .menu{
        width: 90%;
        background-color: #383838;
        padding: 3rem 5rem;
        position: absolute;
        top: 5rem;
        left: 2.5rem;
        border-radius: 1rem;
    }
    .log {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
    }
    .head-btn{
        background-color: rgba(255, 255, 255, 0.944);
    }

}

@media screen and (max-width: 435px){   
    .Mobile-Header{
        margin: 0rem 2rem;
    }
    .menu{
        width: 95%;
        padding: 3rem 2rem;
        position: absolute;
        left: 0.6rem;
        border-radius: 1rem;
    }
}